.text-moving {
  width: 80%;
  height: 700px;
  background-color: rgb(247, 241, 242);
  opacity: 0.9;
  position: absolute;
  top: 300px;
  display: block;
  margin: auto;
  margin-left: 140px;
}

.text-moving h4 {
  padding-top: 10px;
  text-align: center;
}
